<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">
<head>

<meta name="viewport" content="width=device-width"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Mums and Dads</title>

</head>
<body bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; margin: 0; padding: 0;">

<table class="head-wrap" bgcolor="#999999" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; width: 100%; margin: 0; padding: 0;">
<tr style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">
<td style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;"></td>
<td class="header container" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">
<div class="content" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; max-width: 600px; display: block; margin: 0 auto; padding: 15px;">
<table bgcolor="#999999" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; width: 100%; margin: 0; padding: 0;">
<tr style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">
<td style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;"><img src="http://placehold.it/200x50/" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; max-width: 100%; margin: 0; padding: 0;" /></td>
<td align="right" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;"><h6 class="collapse" style="font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif; line-height: 1.1; color: #444; font-weight: 900; font-size: 14px; text-transform: uppercase; margin: 0; padding: 0;">Basic</h6></td>
</tr>
</table>
</div>
</td>
<td style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;"></td>
</tr>
</table>

<table class="body-wrap" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; width: 100%; margin: 0; padding: 0;">
<tr style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">
<td style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;"></td>
<td class="container" bgcolor="#FFFFFF" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">
<div class="content" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; max-width: 600px; display: block; margin: 0 auto; padding: 15px;">
<table style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; width: 100%; margin: 0; padding: 0;">
<tr style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">
<td style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">
<h3 style="font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif; line-height: 1.1; color: #000; font-weight: 500; font-size: 27px; margin: 0 0 15px; padding: 0;">Mums and Dads</h3>
<p class="lead" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; font-weight: normal; font-size: 17px; line-height: 1.6; margin: 0 0 10px; padding: 0;">Introducing your family</p>
<p style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">{{ content }}</p>


<table class="social" width="100%" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; width: 100%; background-color: #ebebeb; margin: 0; padding: 0;" bgcolor="#ebebeb">
<tr style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">
<td style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">


<table align="left" class="column" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; width: 280px; float: left; min-width: 279px; margin: 0; padding: 0;">
<tr style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">
<td style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 15px;">
<h5 class="" style="font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif; line-height: 1.1; color: #000; font-weight: 900; font-size: 17px; margin: 0 0 15px; padding: 0;">Contact Info:</h5>
<p style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">Phone: <strong style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">408.341.0600</strong><br style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;" />
Email: <strong style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;"><a href="" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; color: #2BA6CB; margin: 0; padding: 0;"><span class="__cf_email__" data-cfemail="711902141d151e1f310503101f051e035f121e1c" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">[email&nbsp;protected]</span><script type="text/javascript" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
/* ]]> */
</script></a></strong></p>
</td>
</tr>
</table>
<span class="clear" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; display: block; clear: both; margin: 0; padding: 0;"></span>
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
</td>
<td style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;"></td>
</tr>
</table>

<table class="footer-wrap" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; width: 100%; clear: both !important; margin: 0; padding: 0;">
<tr style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">
<td style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;"></td>
<td class="container" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; display: block !important; max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0;">

<div class="content" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; max-width: 600px; display: block; margin: 0 auto; padding: 15px;">
<table style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; width: 100%; margin: 0; padding: 0;">
<tr style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">
<td align="center" style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;">
<p style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin: 0 0 10px; padding: 0;">
It's impossible to unsubscribe - you are part of Mums and Dads
</p>
</td>
</tr>
</table>
</div>
</td>
<td style="font-family: 'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif; margin: 0; padding: 0;"></td>
</tr>
</table>

<style type="text/css">
img { max-width: 100% !important; }
body { -webkit-font-smoothing: antialiased !important; -webkit-text-size-adjust: none !important; width: 100% !important; height: 100% !important; }
</style>
</body>
</html>